---
http_interactions:
- request:
    method: get
    uri: https://developer.nrel.gov/api/alt-fuel-stations/v1/50066.json?api_key=<CHARGER_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '977'
      Etag:
      - W/"adc6fdc1d3e5a0ac3fcd8eb268aa3f13"
    body:
      encoding: ASCII-8BIT
      string: '{"alt_fuel_station":{"access_code":"public","access_days_time":"24
        hours daily; pay lot","access_detail_code":null,"cards_accepted":null,"date_last_confirmed":"2020-09-03","expected_date":null,"fuel_type_code":"ELEC","groups_with_access_code":"Public","id":50066,"open_date":"2012-12-01","owner_type_code":"LG","status_code":"E","station_name":"City
        of Denver - Denver Performing Arts Center Garage","station_phone":"720-865-3164","updated_at":"2022-01-05T03:04:32Z","facility_type":"PAY_GARAGE","geocode_status":"GPS","latitude":39.743919,"longitude":-104.998075,"city":"Denver","intersection_directions":"Located
        on level 4 by the elevators","plus4":null,"state":"CO","street_address":"1055
        13th St","zip":"80204","country":"US","bd_blends":null,"cng_dispenser_num":null,"cng_fill_type_code":null,"cng_psi":null,"cng_renewable_source":null,"cng_total_compression":null,"cng_total_storage":null,"cng_vehicle_class":null,"e85_blender_pump":null,"e85_other_ethanol_blends":null,"ev_connector_types":["CHADEMO","J1772","J1772COMBO"],"ev_dc_fast_num":1,"ev_level1_evse_num":null,"ev_level2_evse_num":2,"ev_network":"Non-Networked","ev_network_web":null,"ev_other_evse":null,"ev_pricing":"Free","ev_renewable_source":null,"hy_is_retail":null,"hy_pressures":null,"hy_standards":null,"hy_status_link":null,"lng_renewable_source":null,"lng_vehicle_class":null,"lpg_primary":null,"lpg_nozzle_types":null,"ng_fill_type_code":null,"ng_psi":null,"ng_vehicle_class":null,"access_days_time_fr":null,"intersection_directions_fr":null,"bd_blends_fr":null,"groups_with_access_code_fr":"Public","ev_pricing_fr":null}}'
  recorded_at: Wed, 05 Jan 2022 20:34:27 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<WEATHER_KEY>&exclude=minutely,daily,alerts&lat=39.743919&lon=-104.998075&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7439,"lon":-104.9981,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1641414868,"sunrise":1641392474,"sunset":1641426557,"temp":39.99,"feels_like":39.99,"pressure":1004,"humidity":55,"dew_point":25.93,"uvi":0.75,"clouds":100,"visibility":10000,"wind_speed":1.99,"wind_deg":75,"wind_gust":7,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1641412800,"temp":41.25,"feels_like":33.57,"pressure":1003,"humidity":51,"dew_point":25.38,"uvi":1.09,"clouds":100,"visibility":10000,"wind_speed":14.56,"wind_deg":311,"wind_gust":48.83,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.2},{"dt":1641416400,"temp":39.99,"feels_like":32.72,"pressure":1004,"humidity":55,"dew_point":25.93,"uvi":0.75,"clouds":100,"visibility":10000,"wind_speed":12.33,"wind_deg":15,"wind_gust":21.77,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.2},{"dt":1641420000,"temp":38.77,"feels_like":30.7,"pressure":1005,"humidity":57,"dew_point":25.68,"uvi":0.18,"clouds":100,"visibility":10000,"wind_speed":13.62,"wind_deg":16,"wind_gust":23.82,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.31},{"dt":1641423600,"temp":33.58,"feels_like":22.08,"pressure":1009,"humidity":69,"dew_point":25.38,"uvi":0.05,"clouds":100,"visibility":238,"wind_speed":19.95,"wind_deg":12,"wind_gust":28.72,"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13d"}],"pop":0.56,"snow":{"1h":0.43}},{"dt":1641427200,"temp":26.2,"feels_like":14.38,"pressure":1015,"humidity":75,"dew_point":20.14,"uvi":0,"clouds":100,"visibility":153,"wind_speed":14.47,"wind_deg":6,"wind_gust":18.84,"weather":[{"id":601,"main":"Snow","description":"snow","icon":"13n"}],"pop":0.8,"snow":{"1h":1.68}},{"dt":1641430800,"temp":18.99,"feels_like":6.96,"pressure":1022,"humidity":83,"dew_point":15.15,"uvi":0,"clouds":100,"visibility":162,"wind_speed":11.03,"wind_deg":25,"wind_gust":11.41,"weather":[{"id":[...]
