---
http_interactions:
- request:
    method: get
    uri: https://developer.nrel.gov/api/alt-fuel-stations/v1/50066.json?api_key=<CHARGER_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '962'
      Etag:
      - W/"e6f970a86bc8ca6e87fe7f262003a79e"
    body:
      encoding: ASCII-8BIT
      string: '{"alt_fuel_station":{"access_code":"public","access_days_time":"24
        hours daily; pay lot","access_detail_code":null,"cards_accepted":null,"date_last_confirmed":"2020-09-03","expected_date":null,"fuel_type_code":"ELEC","groups_with_access_code":"Public","id":50066,"open_date":"2012-12-01","owner_type_code":"LG","status_code":"E","station_name":"City
        of Denver - Denver Performing Arts Center Garage","station_phone":"720-865-3164","updated_at":"2021-11-14T21:32:54Z","facility_type":"PAY_GARAGE","geocode_status":"GPS","latitude":39.743919,"longitude":-104.998075,"city":"Denver","intersection_directions":"Located
        on level 4 by the elevators","plus4":null,"state":"CO","street_address":"1055
        13th St","zip":"80204","country":"US","bd_blends":null,"cng_dispenser_num":null,"cng_fill_type_code":null,"cng_psi":null,"cng_renewable_source":null,"cng_total_compression":null,"cng_total_storage":null,"cng_vehicle_class":null,"e85_blender_pump":null,"e85_other_ethanol_blends":null,"ev_connector_types":["CHADEMO","J1772","J1772COMBO"],"ev_dc_fast_num":1,"ev_level1_evse_num":null,"ev_level2_evse_num":2,"ev_network":"Non-Networked","ev_network_web":null,"ev_other_evse":null,"ev_pricing":"Free","ev_renewable_source":null,"hy_is_retail":null,"hy_pressures":null,"hy_standards":null,"hy_status_link":null,"lng_renewable_source":null,"lng_vehicle_class":null,"lpg_primary":null,"lpg_nozzle_types":null,"ng_fill_type_code":null,"ng_psi":null,"ng_vehicle_class":null,"access_days_time_fr":null,"intersection_directions_fr":null,"bd_blends_fr":null,"groups_with_access_code_fr":"Public","ev_pricing_fr":null}}'
  recorded_at: Wed, 29 Dec 2021 20:33:36 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<WEATHER_KEY>&exclude=minutely,daily,alerts&lat=39.743919&lon=-104.998075&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7439,"lon":-104.9981,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1640810017,"sunrise":1640787634,"sunset":1640821414,"temp":33.73,"feels_like":33.73,"pressure":1004,"humidity":35,"dew_point":11.48,"uvi":1.06,"clouds":100,"visibility":10000,"wind_speed":1.01,"wind_deg":60,"wind_gust":3,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1640808000,"temp":33.15,"feels_like":28.94,"pressure":1004,"humidity":33,"dew_point":9.84,"uvi":1.58,"clouds":100,"visibility":10000,"wind_speed":4.45,"wind_deg":58,"wind_gust":5.17,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1640811600,"temp":33.73,"feels_like":30.65,"pressure":1004,"humidity":35,"dew_point":11.48,"uvi":1.06,"clouds":100,"visibility":10000,"wind_speed":3.49,"wind_deg":39,"wind_gust":4.29,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1640815200,"temp":33.46,"feels_like":30.29,"pressure":1004,"humidity":33,"dew_point":10.09,"uvi":0.5,"clouds":100,"visibility":10000,"wind_speed":3.53,"wind_deg":56,"wind_gust":4.54,"weather":[{"id":80[...]
