---
http_interactions:
- request:
    method: get
    uri: https://developer.nrel.gov/api/alt-fuel-stations/v1/50066.json?api_key=<CHARGER_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '982'
      Etag:
      - W/"f1e285e2bed3e0152df67fce3accb648"
    body:
      encoding: ASCII-8BIT
      string: '{"alt_fuel_station":{"access_code":"public","access_days_time":"24
        hours daily; pay lot","access_detail_code":null,"cards_accepted":null,"date_last_confirmed":"2022-01-10","expected_date":null,"fuel_type_code":"ELEC","groups_with_access_code":"Public","id":50066,"open_date":"2012-12-01","owner_type_code":"LG","status_code":"E","station_name":"City
        of Denver - Denver Performing Arts Center Garage","station_phone":"720-865-3164","updated_at":"2022-01-10T14:12:23Z","facility_type":"PAY_GARAGE","geocode_status":"GPS","latitude":39.743919,"longitude":-104.998075,"city":"Denver","intersection_directions":"Located
        on level 4 by the elevators","plus4":null,"state":"CO","street_address":"1055
        13th St","zip":"80204","country":"US","bd_blends":null,"cng_dispenser_num":null,"cng_fill_type_code":null,"cng_psi":null,"cng_renewable_source":null,"cng_total_compression":null,"cng_total_storage":null,"cng_vehicle_class":null,"e85_blender_pump":null,"e85_other_ethanol_blends":null,"ev_connector_types":["CHADEMO","J1772","J1772COMBO"],"ev_dc_fast_num":1,"ev_level1_evse_num":null,"ev_level2_evse_num":2,"ev_network":"Non-Networked","ev_network_web":null,"ev_other_evse":null,"ev_pricing":"Free","ev_renewable_source":null,"hy_is_retail":null,"hy_pressures":null,"hy_standards":null,"hy_status_link":null,"lng_renewable_source":null,"lng_vehicle_class":null,"lpg_primary":null,"lpg_nozzle_types":null,"ng_fill_type_code":null,"ng_psi":null,"ng_vehicle_class":null,"access_days_time_fr":null,"intersection_directions_fr":null,"bd_blends_fr":null,"groups_with_access_code_fr":"Public","ev_pricing_fr":null}}'
  recorded_at: Wed, 19 Jan 2022 19:33:10 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<WEATHER_KEY>&exclude=minutely,daily,alerts&lat=39.743919&lon=-104.998075&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7439,"lon":-104.9981,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1642620791,"sunrise":1642601839,"sunset":1642637028,"temp":24.51,"feels_like":24.51,"pressure":1023,"humidity":89,"dew_point":22.06,"uvi":1.17,"clouds":100,"visibility":10000,"wind_speed":1.99,"wind_deg":100,"wind_gust":5.99,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1642618800,"temp":25.12,"feels_like":17.91,"pressure":1024,"humidity":84,"dew_point":21.45,"uvi":1.31,"clouds":100,"visibility":10000,"wind_speed":6.15,"wind_deg":36,"wind_gust":4.59,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.12},{"dt":1642622400,"temp":24.51,"feels_like":17.94,"pressure":1023,"humidity":89,"dew_point":22.06,"uvi":1.17,"clouds":100,"visibility":10000,"wind_speed":5.32,"wind_deg":43,"wind_gust":3.62,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.16},{"dt":1642626000,"temp":25.41,"feels_like":19.31,"pressure":1024,"humidity":82,"dew_point":21.24,"uvi":0.81,"clouds":100,"visibility":10000,"wind_speed":5.03,"wind_deg":53,"wind_gust":3.38,"weather":[{[...]
