---
http_interactions:
- request:
    method: get
    uri: https://developer.nrel.gov/api/alt-fuel-stations/v1/nearest.json?api_key=<CHARGER_KEY>&ev_charging_level=dc_fast&fuel_type=ELEC&location=Denver,%20CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '972'
      Last-Modified:
      - Wed, 29 Dec 2021 22:27:33 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.738453,"longitude":-104.984853,"location_country":"US","precision":{"value":4,"name":"locality","types":["locality","political"]},"station_locator_url":"https://afdc.energy.gov/stations/","total_results":14,"station_counts":{"total":50,"fuels":{"BD":{"total":0},"E85":{"total":0},"ELEC":{"total":50,"stations":{"total":14}},"HY":{"total":0},"LNG":{"total":0},"CNG":{"total":0},"LPG":{"total":0}}},"offset":0,"fuel_stations":[{"access_code":"public","access_days_time":"24
        hours daily","access_detail_code":null,"cards_accepted":null,"date_last_confirmed":"2021-12-29","expected_date":null,"fuel_type_code":"ELEC","groups_with_access_code":"Public","id":198643,"open_date":"2021-10-25","owner_type_code":null,"status_code":"E","station_name":"Ideal
        Market Capitol Hill","station_phone":"877-455-3833","updated_at":"2021-12-29T01:19:53Z","facility_type":null,"geocode_status":"GPS","latitude":39.7332915,"longitude":-104.9758502,"city":"Denver","intersection_directions":null,"plus4":null,"state":"CO","street_address":"900
        E 11th Ave","zip":"80218","country":"US","bd_blends":null,"cng_dispenser_num":null,"cng_fill_type_code":null,"cng_psi":null,"cng_renewable_source":null,"cng_total_compression":null,"cng_total_storage":null,"cng_vehicle_class":null,"e85_blender_pump":null,"e85_other_ethanol_blends":null,"ev_connector_types":["CHADEMO","J1772COMBO"],"ev_dc_fast_num":2,"ev_level1_evse_num":null,"ev_level2_evse_num":null,"ev_network":"eVgo
        Network","ev_network_web":"https://www.evgo.com/","ev_other_evse":null,"ev_pricing":null,"ev_renewable_source":null,"hy_is_retail":null,"hy_pressures":null,"hy_standards":null,"hy_status_link":null,"lng_renewable_source":null,"lng_vehicle_class":null,"lpg_primary":null,"lpg_nozzle_types":null,"ng_fill_type_code":null,"ng_psi":null,"ng_vehicle_class":null,"access_days_time_fr":null,"intersection_directions_fr":null,"bd_blends_fr":null,"groups_with_access_code_fr":"Public","ev_pricing_fr":null,"ev_network_ids":{"station":["27102"],"posts":["56139","56141"]},"distance":0.59729,"distance_km":0.96125},{"access_code":"public","access_days_time":"24
        hours daily; pay lot","access_detail_code":null,"cards_accepted":null,"date_last_confirmed":"2020-09-03","expected_date":null,"fuel_type_code":"ELEC","groups_with_access_code":"Public","id":50066,"open_date":"2012-12-01","owner_type_code":"LG","status_code":"E","station_name":"City
        of Denver - Denver Performing Arts Center Garage","station_phone":"720-865-3164","updated_at":"2021-11-14T21:32:54Z","facility_type":"PAY_GARAGE"[...]
